.user{
    border: 1px solid aqua;
    margin: 5px;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
}
.wrap_for_user_and_users_page{
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px solid aqua;
    margin: 0 auto;
    padding: 10px;
    width: 760px;

    box-shadow:10px  5px 10px silver;
}