.wrap_for_user_and_userdetails{
    width: fit-content;
    display: flex;
    border: 1px solid aqua;
    padding: 20px;
    border-radius: 5px;
}

.user{
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: space-between;
     margin: 20px;
    border: 1px solid aqua;
    width: 230px;
}
.user_detail{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid aqua;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
    width: 400px;
}
button{
    align-self: flex-end;
   width: 60px;
}
.post_post{
    border: 1px solid aqua;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    width: 500px;
}
.scrol{
    height: 500px;
    overflow: scroll;
}